.about-me {
    position: relative;
    display: flex;
}

.about-me::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: -50px;
    left: -50px;
    background-image: url("../images/common/tree.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(28.6% * 3);
    height: calc(25.8% * 3);
}

.about-me__img {
    flex: 0 0 53%;
    width: 0;
}

.about-me__content {
    flex: 0 0 47%;
}

.about-me__title {
    text-align: left;
    font-size: 47px;
    line-height: 48px;
    margin-bottom: .6em;
}

.about-me__text {
    font-size: 14px;
    line-height: 20px;
    color: gray;
    margin-bottom: 42px;
}

.about-me__block {
    display: flex;
}

.about-me__block-el {
    display: flex;
    flex: 1 1 0px;
    width: 0px;
}

.about-me__block-img {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #F5BA40;
    box-shadow: 0px 0px 6px 0px #FF5C00;
    margin-right: 20px;
    margin-top: 15px;
}

.about-me__block-text span {
    font-size: 47px;
    line-height: 48px;
    font-weight: 700;
}