.intro {
    padding-bottom: 24px;
}

.intro__title {
    position: relative;
    width: 45%;
    margin-bottom: 16px;
}

.intro__title::after {
    content: "";
    position: absolute;
    top: 666px;
    left: -1300px;
    background-image: url("../images/common/tree.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(28.6% * 15);
    height: calc(25.8% * 15);
    transform: rotate(90deg);
}

.intro__subtitle {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 42px;
}

.intro__button {
    text-transform: uppercase;
    background-color: #FEAA01;
    border-radius: 4px;
    padding: 20px 42px;
    margin-bottom: 70px;
}

.intro__advantage {
    display: flex;
    gap: 70px;
    margin-bottom: 100px;
}

.intro__advantage-el {
    font-size: 12px;
    line-height: 14px;
}

.intro__advantage-el img {
    height: 30px;
    margin-bottom: 5px;
}

@media (1024px <= width < 1300px) {
    .intro {
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro__title::after {
        content: none;
    }
}

@media (768px <= width < 1024px) {
    .intro {
        padding-left: 30px;
        padding-right: 30px;
    }

    .intro__title {
        width: 100%;
    }

    .intro__title::after {
        content: none;
    }
}

@media (width < 768px) {
    .intro {
        padding-left: 10px;
        padding-right: 10px;
    }

    .intro__title {
        width: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 1em;
    }

    .intro__title::after {
        content: none;
    }
    
    .intro__subtitle {
        text-align: center;
        font-size: 16px;
        line-height: 1;
    }

    .intro__button {
        display: block;
        padding: 10px 20px;
        margin-left: auto;
        margin-right: auto;
        font-size: 14px;
    }

    .intro__advantage {
        flex-direction: column;
        gap: 15px;
        flex-wrap: wrap;
        align-content: center;
    }
}